.error {
    color: rgb(150, 0, 0);
    background: inherit;
    font-size: 20px;
    border-style: solid;
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 5px;
}

.success {
    color: rgb(0, 150, 0);
    background: inherit;
    font-size: 20px;
    border-style: solid;
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 5px;
}